name: Run All Tests

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  all-tests:
    name: Run Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run KtLint
        run: ./gradlew ktlintCheck

      - name: Run all tests
        run: ./gradlew allTests --stacktrace

